---
layout: layout.liquid
title: Woodsy Cabin Retreat
---

<body>
    <header>
        <div class="header-content">
            <div class="title">
                <h1>Woodsy Cabin Retreat</h1>
                <h2>Marion, NC</h2>
            </div>
            <img src="/images/airbnb2.jpg" alt="Cabin Image" class="header-image">
        </div>
        <nav class="nav-links">
            <a href="/about" class="nav-link">About</a>
            <a href="/accommodations" class="nav-link">Accommodations</a>
            <a href="/activities" class="nav-link">Activities</a>
            <a href="/gallery" class="nav-link">Gallery</a>
        </nav>
    </header>